.page-wrapper {
	height: 100vh;
	width: 100vw;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			margin: 24px;
		}
	}

	.portfolio-page {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: calc(100% - 67px);

		.link-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin: 0 auto;
			z-index: 50;

			.links {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 20px;

				&:first-child {
					gap: 24px;
				}

				&:nth-child(2) {
					margin: 40px 0;
				}

				p {
					font-family: About Love;
					font-size: 40px;
					color: #87614e;
					text-decoration: underline;
					text-decoration-thickness: 2px;
					margin-bottom: -10px;
				}

				a {
					font-family: Solar Vesta Serif;
					font-size: 48px;
					text-decoration: none;
					color: #87614e;
					transition: 100ms ease-in;

					&:hover {
						color: transparent;
						-webkit-text-stroke-width: 1px;
						-webkit-text-stroke-color: #87614e;
					}
				}
			}
		}

		.carousel {
			padding-left: 80px;
			width: 80%;
			height: 100vh;
		}
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.contact-btn {
			text-decoration: none;
			margin: 24px;
			font-family: Solar Vesta Serif;
			color: #87614e;
			font-size: 18px;
			z-index: 50;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 24px;
			z-index: 50;

			li {
				list-style: none;
				color: #87614e;
				padding: 0 3px;

				a {
					text-decoration: none;
					color: #87614e;
					font-size: 18px;
					font-family: Solar Vesta Serif;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.page-wrapper > .portfolio-page {
		.link-wrapper > .links {
			p {
				font-size: 25px;
			}

			a {
				font-size: 35px;
			}
		}

		.carousel {
			padding-left: 25px;
			width: 70%;
		}
	}
}

@media screen and (max-width: 768px) {
	.page-wrapper > .portfolio-page {
		position: relative;
		display: flex;

		.link-wrapper {
			padding-top: 67px;
		}

		.carousel {
			position: absolute;
			width: 100%;
			padding: 0;
			height: calc(100vh + 67px);
			opacity: 0.3;
		}
	}
}

@media screen and (max-width: 400px) {
	.page-wrapper > .portfolio-page {
		.link-wrapper > .links {
			p {
				font-size: 15px;
			}

			a {
				font-size: 25px;
			}
		}
	}
}
