.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  height: 100%;
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    height: 100%;
    
    .slide {
      display: inline-block;
      height: 100vh;
    }
  }
}

