.carousel-container {
  height: calc(100vh - 107px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-gallery {
    width: 60%;
    height: 60%;

    .links {
      color: #87614E;
      text-decoration: none;
      font-size: 36px;
    }

    .image-gallery-content .image-gallery-slide-wrapper .image-gallery-icon {
      z-index: 10 !important;
      top: 109%;
      color: #CCB0A2;
      filter: none;
    }

    .image-gallery-slides {
      overflow: visible;

      .image-gallery-description {
        background: none;
        font-size: 36px;
        font-family: Solar Vesta Serif;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        color: #87614E;
        cursor: pointer;
        opacity: 1;
      }

      .center {
        z-index: 5 !important;
        padding-bottom: 18px;

        img {
          padding: 0;
        }
      }

      .left {
        transform: translate3d(-20%, 0px, 0px) scale(0.78) !important;

        .image-gallery-description {
          display: none;
        }

        img {
          padding: 0;
        }
      }

      .right {
        transform: translate3d(20%, 0px, 0px) scale(0.78) !important;

        .image-gallery-description {
          display: none;
        }

        img {
          padding: 0;
        }
      }

      img {
        width: 50%;
        height: 500px;
        object-fit: contain;
        overflow: hidden;
        object-position: center center;
        padding: 0 40px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .carousel-container .image-gallery {

    .links {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .carousel-container .image-gallery {
    width: 85%;

    .image-gallery-content .image-gallery-slide-wrapper .image-gallery-icon {
      top: 104%;
    }

    .image-gallery-slides .image-gallery-description {
        bottom: -50px;
    }
  } 
}

@media screen and (max-width: 1100px) {
  .carousel-container .image-gallery {
    width: 75%;
    top: -10%;

    .image-gallery-content .image-gallery-slide-wrapper .image-gallery-icon {
      top: 100%;
    }

    .image-gallery-slides .image-gallery-description {
        bottom: -50px;
    }
  } 
}

@media screen and (max-width: 800px) {
  .carousel-container .image-gallery {
    width: 85%;
    top: 0;

    .image-gallery-content .image-gallery-slide-wrapper .image-gallery-icon {
      top: 100%;
    }

    .image-gallery-slides .image-gallery-description {
        bottom: -50px;
    }
  } 
}

@media screen and (max-width: 550px) {
  .carousel-container .image-gallery {

    .image-gallery-slides .image-gallery-description {
      bottom: -20px;
    }

    .links {
      font-size: 18px;
    }
  } 
}

@media screen and (max-width: 440px) {
  .carousel-container .image-gallery {
    width: 100%;
  
    .image-gallery-content {
      width: 160%;
      right: 30%;
    
      .image-gallery-slide-wrapper .image-gallery-icon {
        top: 100%;
        padding: 0;
      }

      .image-gallery-slide-wrapper .image-gallery-left-nav {
        left: 20%;
      }

      .image-gallery-slide-wrapper .image-gallery-right-nav {
        right: 20%;
      }
    }

    .image-gallery-slides .image-gallery-description {
        bottom: -25px;
      }

    .links {
      font-size: 17px;
    }
  } 
}

@media screen and (max-width: 376px) {
  .carousel-container {
  
    .image-gallery {
      width: 100%;

      .image-gallery-slides img {
        height: 400px;
      }

      .image-gallery-content {
        width: 140%;
        right: 20%;
      }
    }
  } 
}

@media screen and (max-width: 330px) {
  .carousel-container .image-gallery {
      height: 100%
  } 
}