.navbar {
  width: 100vw;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    padding-left: 7px;
  }

  button {
    position: relative;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    margin: 24px;
    padding-right: 35.2px;
    z-index: 5;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;

    li {
      list-style: none;
      color: #87614E;
      padding: 0 3px;

      a {
        text-decoration: none;
        color: #87614E;
        font-size: 18px;
        font-family: Solar Vesta Serif;
        cursor: pointer;
        transition: 100ms ease-in;

        &:hover {
          color: whitesmoke;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #87614e;
        }
      }
    }
  }

  .navigation-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Solar Vesta Serif;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 76px;
    padding-left: 26px;

    a {
      text-decoration: none;
      padding: 9px 0;
      color: #87614E;
      padding: 9px 0;
      transition: 100ms ease-in;
    
      &:hover {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #87614e;
      }
    }
  }
}

.navbar.colorChange {
  background-color: #f6f4e9;
  animation: slideDown 700ms ease-in-out;
}

@keyframes slideDown {
  from {
    top: -72px;
  }
  to {
    top: 0;
  }
}

@media screen and (max-width: 600px) {

  .navbar > .navigation-wrapper {
    justify-content: center;
    align-items: center;
    font-size: 48px;
    padding: 0;

    a {
      padding: 30px 0;
    }
  }
}