.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 102;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

  .mask-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 103;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-mask {
      width: auto;
      height: 62%;
      margin-bottom: 95px;
    }
  }

  .right-frame {
    width: 100%;
    height: 100%;
    background-color: #CCB0A2;
  }

  .left-frame {
    width: 100%;
    height: 100%;
    background-color: #87614E;
  }

  .svg-img {
    position: absolute;
    top: 35%;
    overflow: visible;
    z-index: 109;

    .cls-1 {
      fill: #ab7d65;
    }
      
    .cls-2 {
      fill: #86614e;
    }
  }
}

@media screen and (min-width: 1680px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 67%;
        margin-bottom: 115px;
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 61%;
        margin-bottom: 90px;
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 60%;
        margin-bottom: 90px;
      }
    }
  }
}

@media screen and (max-width: 1590px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 58%;
        margin-bottom: 90px;
      }
    }
  }
}

@media screen and (max-width: 1560px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 57%;
        margin-bottom: 90px;
      }
    }
  }
}

@media screen and (max-width: 1530px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 56%;
        margin-bottom: 90px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 55%;
        margin-bottom: 85px;
      }
    }
  }
}

@media screen and (max-width: 1475px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 54.5%;
        margin-bottom: 85px;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .loading-container {
    .mask-wrapper {
      .image-mask {
        height: 53.5%;
        margin-bottom: 83px;
      }
    }
  }
}