.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 102;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

  .mask-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 103;
    background: url(../../assets/ari.webp) no-repeat 
      center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    mask-image: url('../../assets/ari-loading-img.png');
    mask-repeat: no-repeat;
    mask-position: center 30%;
    -webkit-mask-image: url('../../assets/ari-loading-img.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center 30%;
  }

  .right-frame {
    width: 100%;
    height: 100%;
    background-color: #CCB0A2;
  }

  .left-frame {
    width: 100%;
    height: 100%;
    background-color: #87614E;
  }

  .svg-img {
    position: absolute;
    top: 30%;
    overflow: visible;
    z-index: 109;

    .cls-1 {
      fill: #ab7d65;
    }
      
    .cls-2 {
      fill: #86614e;
    }
  }
}

@media screen and (max-width: 1560px) {
  .loading-container {
    .mask-wrapper{
      mask-position: center 36%;
    }
  }
}

@media screen and (max-width: 1480px) {
  .loading-container {
    .mask-wrapper{
      mask-position: center 40%;
    }
  }
}

@media screen and (max-width: 1450px) {
  .loading-container {
    .mask-wrapper{
      mask-position: center 36%;
    }
  }
}



@media screen and (max-width: 450px) {
  .loading-container {
    .mask-wrapper{
      mask-position: center 45%;
    }
  }
}

@media screen and (max-width: 380px) {
  .loading-container {
    .mask-wrapper{
      mask-position: center 47%;
    }
  }
}