.about-wrapper {

  .span-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    span {
      font-family: Solar Vesta Serif;
      font-size: 72px;
      color: #87614E4D;
    }
  }

  h1 {
    font-size: 48px;
    color: #AB7C65;
    font-family: About Love;
    width: fit-content;
    padding: 100px 0 30px 200px;
  }

  .paragraph-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
    font-family: 'Expletus Sans', sans-serif;
    gap: 75px;
    padding: 0 200px;

    div {
      width: 498px;

      p {
        margin-bottom: 30px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

    .resume-btn {
      text-decoration: none;
      font-family: 'Expletus Sans', sans-serif;
      font-size: 20px;
      padding: 15px 40px 13px 40px;
      color: #87614E;
      border: 1px solid #87614E;
      border-radius: 5px;
      cursor: pointer;
      transition: 400ms ease-in;
      z-index: 4;

      &:hover {
        background-color: #87614E;
        color: whitesmoke;
      }
    }
  } 

  .image-wrapper {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    overflow: hidden;

    div > img {
      max-width: 100%;
      height: auto;
    }

    .portfolio-text {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      font-size: 72px;
      font-family: Solar Vesta Serif;
      color: #AB7C65;
      background-color: whitesmoke;
      width: 100vw;
      opacity: 0.8;
      padding-top: 16px;
      z-index: 2;
    }
  }

  #img-cf {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  .about-wrapper {
    h1 {
      padding-bottom: 0;
      padding-left: 120px;
    }

    .paragraph-wrapper {
      padding: 0 100px;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-wrapper {
    height: 100%;

    h1 {
      margin: 0 auto;
      padding: 100px 0 0 0;
    }

    .paragraph-wrapper {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      font-size: 16px;
      gap: 0;
      overflow: wrap;
      padding: 60px 35px;

      div {
        width: auto;

        .odd-paragraph {
          margin-bottom: 0;
        }
      }
    }

    .button-wrapper {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-wrapper {

    .span-container {
      display: none;
    }
    
    .paragraph-wrapper {
      padding: 20px 60px;
    }

    .image-wrapper {
      display: none;
    }

    .button-wrapper > .resume-btn {
      margin-bottom: 50px;
    }

    #img-cf {
      display: flex;
      //position: relative;
      align-items: center;
      margin: 200px 0;

      .portfolio-text {
        position: absolute;
        font-size: 36px;
        letter-spacing: 14px;
        padding: 30px 0 20px 10px;
        font-family: Solar Vesta Serif;
        color: #AB7C65;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        opacity: 0.84;
        z-index: 60;
      }

      img {
        position: absolute;
        animation-name: cf4FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        width: 100%;
          
        @keyframes cf4FadeInOut {
          0% {
            opacity:1;
          }
          17% {
            opacity:1;
          }
          25% {
            opacity:0;
          }
          92% {
            opacity:0;
          }
          100% {
            opacity:1;
          }
        }

        &:nth-of-type(1) {
          animation-delay: 6s;
        }
        &:nth-of-type(2) {
          animation-delay: 4s;
        }
        &:nth-of-type(3) {
          animation-delay: 2s;
        }
        &:nth-of-type(4) {
          animation-delay: 0s;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .about-wrapper {
    .paragraph-wrapper {
      padding: 20px 30px;
    }

    #img-cf {
    margin: 150px 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .about-wrapper #img-cf .portfolio-text {
    font-size: 24px;
    letter-spacing: 10px;
  }
}