.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-btn {
    text-decoration: none;
    margin: 25px 10px;
    font-family: Solar Vesta Serif;
    color: #87614E;
    font-size: 18px;
    transition: 200ms ease-in;

    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 2px solid #C5BFB2;
      width: 39rem;
      margin: 0 1rem;
      transform: translateY(-0.35rem);
    }

		&:hover {
			color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #87614e;
		}
  }

  .footer-text {
    display: flex;

    p {
      font-family: 'Expletus Sans', serif;
      font-size: 10px;
      color: #726E6E;
      margin-bottom: 25px;
  
      .benji-anchor {
        color:black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    span {
      font-family: 'Expletus Sans', serif;
      font-size: 10px;
      color: #726E6E;
      margin: 0 6px;
    }
  }

}

@media screen and (max-width: 1440px) {
  .footer-wrapper > .contact-btn::before,
  .footer-wrapper > .contact-btn::after {
    width: 32rem;
  }
}

@media screen and (max-width: 1205px) {
  .footer-wrapper > .contact-btn::before,
  .footer-wrapper > .contact-btn::after {
    width: 24rem;
  }
}

@media screen and (max-width: 950px) {
  .footer-wrapper > .contact-btn::before,
  .footer-wrapper > .contact-btn::after {
    width: 18rem;
  }
}

@media screen and (max-width: 755px) {
  .footer-wrapper > .contact-btn::before,
  .footer-wrapper > .contact-btn::after {
    width: 12rem;
  }
}

@media screen and (max-width: 563px) {
  .footer-wrapper {

    .contact-btn::before,
    .contact-btn::after {
      width: 8rem;
    }

    .footer-text {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-bottom: 5px;
      }

      p:last-child {
        margin-bottom: 25px;
      }

      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .footer-wrapper {

    .contact-btn::before,
    .contact-btn::after {
      width: 4rem;
    }
  } 
}