// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

// Resetting default CSS styling

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}