// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

@font-face {
  font-family: "Solar Vesta Serif";
  src: local("Solar Vesta Serif"),
    url("./Fonts/Solar\ Vesta\ Serif.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "About Love";
  src: local("About Love"),
    url("./Fonts/About\ Love\ 400.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Santana";
  src: local("Santana"),
    url("./Fonts/Santana\ 400.ttf") format("truetype");
  font-weight: normal;
}

// Import react-image-gallery styles
@import "~react-image-gallery/styles/scss/image-gallery.scss";

// Resetting default CSS styling
html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}