.main-wrapper {
  height: 100vh;
  width: 100vw;
  background: url(../../assets/pooja-chaudhary-q29kexdHODM-unsplash.jpg) no-repeat 
    center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: Solar Vesta Serif;
    text-align: center;
    font-weight: 400;
    font-size: 71px;
    color: transparent;
    letter-spacing: 55px;
    text-indent: 55px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
}

@media screen and (max-width: 1430px) {
  .main-wrapper > h1 {
    font-size: 50px;
    text-indent: 0;
    margin: 0 24px;
  }
}

@media screen and (max-width: 1250px) {
  .main-wrapper > h1 {
    font-size: 45px;
    letter-spacing: 30px;
    text-indent: 30px;
  }
}

@media screen and (max-width: 985px) {
  .main-wrapper > h1 {
    font-size: 35px;
    text-indent: 0;
    letter-spacing: 20px;
    line-height: 50px;
  }
}