.contact-wrapper {
  height: calc(100vh - 107px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  h1 {
    color: #87614E;
    font-size: 64px;
    font-family: Santana;
  }

  form {
    width: 555px;

    .name-email {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      label {
        display: none;
      }

      input {
        border: 1px solid #87614E;
        border-radius: 5px;
        width: 45%;
        padding: 10px 0;
        background-color: transparent;

        &[type=text],
        &[type=email] {
          padding: 10px 10px 7px 10px;
          font-size: 14px;
          font-family: 'Expletus Sans', sans-serif;
          color: #6F6B6B;
        }

        &[type=text]:focus,
        &[type=email]:focus {
          outline: none;
          border: 2px solid #87614E;
        }
      }
      .red-border {
        border: solid #b30000 2px !important;
      }
    }

    .message-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 17px;

      label {
        display: none;
      }

      textarea {
        border: 1px solid #87614E;
        border-radius: 5px;
        background-color: transparent;
        height: 100px;
        width: 100%;
        font-size: 14px;
        font-family: 'Expletus Sans', sans-serif;
        color: #6F6B6B;
        padding: 8px 0 0 8px;

        &:focus {
          outline: none;
          border: 2px solid #87614E;
        }
      }

      .red-border {
        border: solid #b30000 2px !important;
      }

      .warning-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 10px;

        .warning-svg {
          width: 5%;
          height: auto;
        }

        .warning-paragraph {
          color: #b30000;
          font-family: 'Expletus Sans', sans-serif;
          font-size: 14px;
        }
      }

      input {
        background-color: #AB7C65;
        color: #fff;
        font-family: 'Expletus Sans', sans-serif;
        font-size: 12px;
        padding: 15px 60px 12px 60px;
        width: 30%;
        border-radius: 5px;
        margin-top: 37px;
        cursor: pointer;
        border: 1px solid #AB7C65;
        transition: 300ms ease-in;

        &:hover {
          background-color: transparent;
          color: #AB7C65;

        }
      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #6F6B6B;
    font-size: 18px;
    font-family: 'Expletus Sans', sans-serif;
    margin-top: 36px;

    a {
      text-decoration: none;
      color: #6F6B6B;

      &:hover {
        color: #000;
      }
    }

    span {
      margin: 0 6px;
    }
  }
}

@media screen and (max-width: 601px) {
  .contact-wrapper {
    padding: 0;

    h1 {
      font-size: 48px;
    }

    form {
      width: 80%;

      .name-email {
        flex-direction: column;
        gap: 17px;

        input {
          width: 100%;
        }
      }

      .message-div {

        input {
          padding: 15px 0 12px 0;
          width: 100%;
        }

        .warning-msg {
          .warning-svg {
            width: 10%;
            height: auto;
          }
        }
      }
    }

    .contact-info {
      flex-direction: column;

      a {
        margin-bottom: 20px;
      }
  
      span {
        display: none;
      }
    }
  }
}